<?xml version="1.0" encoding="utf-8"?>
<configuration>       
    <runtime>        
        <appDomainManagerType value="WebFormsHost.Hosting.WebFormsDefaultDomainManager" />
        <appDomainManagerAssembly value="WebFormsHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=977c1799ce76a4f8" />
    </runtime>
</configuration>
